# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# We have Javascript visualization engine, a Golang server, and a C++ binary built from
# from source in this repo, so the excludes are somewhat involved.

# We have a local stockfish binary built from a zipfile and a server.
sf/stockfish
srv/srv

# We have a Javascript front end we build with Vite 
js/src/node_modules
.vite

# js/dist is the build artifact resulting from npx vite build. Normally, one
# does not commit this, any more than any other build artifact. But the Golang
# server in srv/ is designed to server dist/ if it's present, and this makes it
# much simpler to try out the app - the user doesn't have to mess with npm, npx,
# vite, js packages, etc. So for now we allow dist/ to be committed, expecting
# it will have been moved to srv/dist, but not demanding that.
# dist/

# The rest is the Github template for Go, which should cover the Golang server.

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Editor/IDE
# .idea/
# .vscode/
